{% comment %} {% extends 'base.html' %}

{% block content %}
<h2>Maintenance Requests</h2>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Date Created</th>
            <th>Status</th>
            <th>Lease</th>
            <th>Tenant</th>
        </tr>
    </thead>
    <tbody>
        {% for maintenance_request in maintenance_requests %}
        <tr>
            <td>{{ maintenance_request.title }}</td>
            <td>{{ maintenance_request.description }}</td>
            <td>{{ maintenance_request.date_created }}</td>
            <td>{{ maintenance_request.status }}</td>
            <td>{{ maintenance_request.lease }}</td>
            <td>{{ maintenance_request.lease.tenant }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %} {% endcomment %}
