{% extends 'base.html' %}
{% load static %}

{% block title %}Find your sweet home{% endblock %}

{% block content %}
   
        
        <div class="flex flex-col">
            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="py-4 inline-block min-w-full sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                  <table class="w-full text-center table-fixed inset-y-0 right-0">
                    <thead class="border-b bg-gray-800">
                        
                     
                        <th scope="col" class="text-sm font-medium text-white px-4 py-4">
                          Img
                        </th>
                        <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                          Title
                        </th>
                        <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                          City
                        </th>
                        <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                          District
                        </th>
                        <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                          Rate
                        </th>
                        <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                          Status
                         </th>
                          <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                           Action
                          </th>
                        </thead>
                   
                    <tbody>
                      {% for reservation in reservations %}
                        <tr class="bg-white border-b text-center">
                          {% comment %} <td  class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">   {{property.image}} </td> {% endcomment %}
                          <td>
                            {% if reservation.property_id.propertyimages_set.first %}
                                <img class="h-10 w-15 object-cover  right-4 mx-auto my-auto block" src="{{ reservation.property_id.propertyimages_set.first.image.url }}" alt="property">
                            {% else %}
                               
                                <img class="h-10 w-10 object-cover" src="{% static 'img/fallback.png' %}" alt="fallback">
                            {% endif %}
                        </td>
                          
                          <td class="text-sm text-gray-900 font-medium px-6 py-4 whitespace-nowrap">
                            <a href="{% url 'properties:property_details' propertydetails_id=reservation.property_id.id%}">
                            {{reservation.property_id.title}}</a>
                          </td>
                          <td class="text-sm text-gray-900 font-medium px-6 py-4 whitespace-nowrap">
                            {{reservation.property_id.city}}
                          
                            </td>
                            <td class="text-sm text-gray-900 font-medium px-6 py-4 whitespace-nowrap">
                              {{reservation.property_id.district}}
                            </td>
                          </td>
                          <td class="text-sm text-gray-900 font-medium px-6 py-4 whitespace-nowrap">
                            {{reservation.property_id.rate}}
                          </td>
                          <td class="text-sm text-gray-900 font-medium px-6 py-4 whitespace-nowrap">
                            {{reservation.status}}
                          </td>
                          <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                           {% if reservation.status == "PAYMENT_PENDING" %}
                           <a href="{% url 'properties:terms' property_id=reservation.property_id.id %}" >
                            <button class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">
                             Proceed To Pay
                            </button></a>
                           {% endif %}
                           {% if reservation.status == "ACTIVE" or reservation.status == "EARLY_OCCUPIED" %}
                           <a href="" >
                            <button class="bg-green-500 hover:bg-green-400 text-white font-bold py-2 px-4 border-b-4 border-green-700 hover:border-green-500 rounded">
                            View Receipt
                            </button></a>
                           {% endif %}
                           
                             
                              {% comment %} <a href="{% url 'owner:delete_property' property_id=property.id %}" class=" btn btn-danger">Delete</a>     {% endcomment %}
                          </td>
                        
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>            
{% endblock %}




